In [1]:
import pandas as pd

citydata = pd.read_csv('Case Maykin Media - Django - CSV data/city.csv', names=['city_id', 'city_name'], sep=";", header=None)
hoteldata = pd.read_csv('Case Maykin Media - Django - CSV data/hotel.csv', names=['city_id', 'hotel_id', 'hotel_name', '3'], sep=";", header=None)

hoteldata.drop(columns=['3'], inplace=True)


df = pd.merge(citydata, hoteldata, on='city_id')

df.head()

  city_id  city_name hotel_id                 hotel_name
0     AMS  Amsterdam    AMS01     Ibis Amsterdam Airport
1     AMS  Amsterdam    AMS02  Novotel Amsterdam Airport
2     ANT  Antwerpen    ANT01     Express by Holiday Inn
3     ANT  Antwerpen    ANT02                       Eden
4     ANT  Antwerpen    ANT04                    Astoria