In [13]:
import pandas as pd
import requests
from requests.auth import HTTPBasicAuth
import io
responsehotel = requests.get('http://rachel.maykinmedia.nl/djangocase/hotel.csv',
            auth = HTTPBasicAuth('python-demo', 'claw30_bumps')).content
 
hoteldata = pd.read_csv(io.StringIO(responsehotel.decode('utf-8')), names=['city_id', 'hotel_id', 'hotel_name', '3'], sep=";", header=None)

hoteldata

    city_id hotel_id                    hotel_name   3
0       AMS    AMS01        Ibis Amsterdam Airport NaN
1       AMS    AMS02     Novotel Amsterdam Airport NaN
2       ANT    ANT01        Express by Holiday Inn NaN
3       ANT    ANT02                          Eden NaN
4       ANT    ANT04                       Astoria NaN
..      ...      ...                           ...  ..
191     BER    BER22                     Citadines NaN
192     BER    BER23                Villa Kastania NaN
193     BER    BER24                       Domicil NaN
194     BER    BER25  Holiday Inn Berlin City East NaN
195     BER    BER26               Winter's Berlin NaN

[196 rows x 4 columns]